## Question 1: Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only.
## Input Format:
The first line of the input contains an email address.
## Output Format:
Print the company name in a single line.
## Example;
Input:
john@google.com
Output:
google.

In [2]:
string = 'sandeep@amazon.com'

x = string.split('@')[1].split('.')[0]
print(x)

amazon

## Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
## Input Format:
The first line of input contains words separated by the comma.
## Output Format:
Print the sorted words separated by the comma.
## Example:
### Input:
without,hello,bag,world
### Output:
bag,hello,without,world

In [23]:
lst = []
str_words = input('Enter words seperated by comma ')
x = str_words.split(',')
x.sort()

for i in x:
    lst.append(i)   

print('The words in sorted order: ',','.join(lst))

Enter words seperated by comma without,hello,bag,world
The words in sorted order:  bag,hello,without,world

## Question 3: Create your own Jupyter Notebook for Sets. Reference link:
### https://www.w3schools.com/python/python_sets.asp

In [5]:
# Set is a collection like list and tuple, which are unordered and unindexed. Sets are represented in { } braces.

# As it says sets are unordered, we camnot predict its order. The items in set will appear in random order. for example:

x = {'cars', 'bikes','planes'}
print(x)

{'bikes', 'planes', 'cars'}

In [6]:
# Set has built-in methods to make ease for developers. It has a quite a good number of methods which makes things easier.

#### Set Methods:

In [7]:
# If a set is created once you cannot change its items, but u can add items using add().
sets = {'Volkswagen','Skoda','Audi'}
sets.add('Ford')
print(sets)

{'Ford', 'Audi', 'Skoda', 'Volkswagen'}

In [8]:
# You can make a copy of set using copy().
sets = {'Volkswagen','Skoda','Audi'}
sets.copy()
print(sets)

{'Audi', 'Skoda', 'Volkswagen'}

In [9]:
# Return a set that contains the items that only exist in sets , and not in sets1

sets = {'Volkswagen','Skoda','Audi','ford'}
sets1 = {'Skoda','Volkswagen','Bmw','Benz'}
x = sets.difference(sets1)
print(x)

{'Audi', 'ford'}

In [10]:
#
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets.difference_update(sets1)
print(sets)

{'Audi'}

In [11]:
# discard() removes the specified item from the set and returns remaining items in the set.
sets = {'Volkswagen','Skoda','Audi'}
sets.discard('Audi')
print(sets)

{'Skoda', 'Volkswagen'}

In [12]:
# intersection() returns a set that contains the common items from both the sets.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
x = sets.intersection(sets1)
print(x)

{'Skoda', 'Volkswagen'}

In [13]:
# it works same as intersection() method it takes 3 sets to find the common items contains from the 3 sets.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets2 = {'Polo','Figo','Volkswagen'}
sets.intersection_update(sets1,sets2)
print(sets)

{'Volkswagen'}

In [14]:
# Returns True if no items in sets is present in sets1 else it returns False.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
x = sets.isdisjoint(sets1)
print(x)

False

In [15]:
# Return True only if all items present in sets  are present in sets1
sets1 = {'Volkswagen','Skoda','Audi'}
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
x = sets.issubset(sets1)
print(x)

False

In [16]:
 # Return True only if all items present in sets1 are present in sets
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
x = sets.issuperset(sets1)
print(x)

True

In [17]:
# pop() method removes the item. As set is unordered the output is random.
sets = {'1','2','3'}
sets.pop()
print(sets)

{'3', '2'}

In [18]:
# remove() method removes the specific item from the set. and the output is always random.
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets.remove('Audi')
print(sets)

{'Bmw', 'Volkswagen', 'Skoda', 'Benz'}

In [19]:
# Return a set that contains all items from both sets, except items that are present in both sets
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
x  = sets.symmetric_difference(sets1)
print(x)

{'Bmw', 'Benz'}

In [20]:
# Removes items contains in both the sets and returns the remaining items from both the sets.
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
sets.symmetric_difference_update(sets1)
print(sets)

{'Bmw', 'Benz'}

In [21]:
# union() method basically returns a set contains all the items after removing the duplicate items.
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi','Ford'}
x = sets.union(sets1)
print(x)

{'Bmw', 'Volkswagen', 'Skoda', 'Ford', 'Audi', 'Benz'}

In [22]:
# update() method updates the items from both the sets, no duplicates.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets.update(sets1)
print(sets)

{'Volkswagen', 'Skoda', 'Bmw', 'Audi', 'Benz'}

In [23]:
# clear() method will wipe out all the items from the set and returns an empty set.
sets = {'Volkswagen','Skoda','Audi'}
sets.clear()
print(sets)

set()

## Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
### Input Format:
The first line contains n-1 numbers with each number separated by a space.
### Output Format:
Print the missing number
## Example:
### Input:
1 2 4 6 3 7 8
### Output:
5
### Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [9]:

def missing_number(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
 
lst = [1, 2, 4, 6, 3, 7, 8] 
print(missing_number(lst))

[5]

## Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
### Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
### Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
### Input Format:
In one line take the elements of the list L with each element separated by a space.
### Output Format:
Print the elements of the modified list in one line with each element separated by a space.
## Example:
### Input:
12 24 35 24
### Output:
12 24 35

In [25]:
lst = input('Enter the numbers: ')
li = lst.split(' ')

for i in li:
    limit = li.count(i)
    if limit >= 2:
        li.remove(i)
li.sort()

print('The output is',' '.join(li))

Enter the numbers: 12 24 35 24
The output is 12 24 35